@import 'fonts.css';

:root {
    --Comfortaa: 'Comfortaa';
    --Motserrat: 'Motserrat';
    --Roboto: 'Roboto';
    --white: #fff;
    --black: #000;
    --linkHover: #ED8E00;
    --title: #F18128;
    --btnBg: #F18128;
    --btnBgHover: #040D1F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: var(--Comfortaa);
}

.title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--title);
}

.btn {
    max-width: 166px;
    width: 100%;
    padding: 17px 10px;
    border-radius: 4px;
    text-align: center;
    color: var(--black);
    background: var(--btnBg);
}

.btn:hover {
    color: var(--white);
    background: var(--btnBgHover);
}

.ads {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ads__link {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.ads__link span {
    max-width: 166px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

.header__nav {
    background: var(--black);
    backdrop-filter: blur(7.5px);
    display: flex;
    justify-content: space-between;
}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo span {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: var(--white);
    text-transform: uppercase;
}

.header__list {
    display: flex;
    column-gap: 30px;
}

.header__link {
    font-family: var(--Motserrat);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    text-transform: capitalize;
    padding: 42px 6px;
    display: inline-block;
    transition: 500ms;
    position: relative;
}

.header__link:hover {
    color: var(--linkHover);
}

.header__link::after {
    content: '';
    height: 2px;
    background: var(--linkHover);
    position: absolute;
    bottom: 0;
    width: 0;
    left: 50%;
    transition: 500ms;
    border-radius: 23px 23px 0px 0px;
}

.header__link:hover::after {
    width: 100%;
    left: 0;
}

.menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    background: transparent;
    border: none;
    display: none;
}

.menu span {
    display: block;
    width: 100%;
    height: 8px;
    background: var(--linkHover);
    border-radius: 3px;
    transition: 0.5s linear;
}

.menu:focus span:nth-child(1) {
    transform: rotate(45deg) translateY(-16px) translateY(25px) translateX(31px) translateX(-22px);
}

.menu:focus span:nth-child(3) {
    transform: rotate(-45deg) translateY(16px) translateY(-25px) translateX(32px) translateX(-23px);
}

.menu:focus span:nth-child(2) {
    transform: rotate(-45deg); 
    background: transparent;
}